node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.*
.drizzle
.maestro/
.agent
.agents
.claude
.cline
.codex
.commandcode
.continue
.crush
.cursor
.factory
.gemini
.git
.github
.goose
.kilocode
.kiro
.maestro
.mcpjam
.neovate
.opencode
.openhands
.pi
.qoder
.qwen
.roo
.trae
.windsurf
.zencoder
